.cardWrapper {
	width: 30%;
	height: 30%;
	display: block;
	float: left;
	position: relative;
	margin: 0.78% .78125% 0.78%;
	border-radius: 5%;
	background: #f6f7df;
	border: 1px solid rgb(219, 219, 219);
	padding: 5px
}

.imgWrapper {
	margin: 0 auto;
	display: block;
	width: 75%;


}
