.pokedesWrapper {

}

.cardWrapper {
    width: 30%;
    height: 30%;
    background-color: bisque;
    display: block;
    float: left;
    position: relative;
    margin: 0 .78125% 50px;
    border: salmon solid 2px;
}

.imgWrapper {
    margin: 0 auto;
    display: block;
    width: 75%;


}


.figure {
}


.id {
    font-family: "Roboto", arial, sans-serif;
    font-weight: bold;
    color: sandybrown;
    font-size: 80%;
    padding-top: 2px;
}


.button {
    border: none;
    padding: 8px 20px;
    background-color: mintcream;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin-left: 35%;
}
.button:disabled {
    opacity:0.4;
}
