.pokedesWrapper {

}

.cardWrapper {
    width: 30%;
    height: 30%;
    display: block;
    float: left;
    position: relative;
    margin: 0 .78125% 50px;
    border-radius: 5%;
    background: #f6f7df;
    border: 1px solid rgb(219, 219, 219);
}

.imgWrapper {
    margin: 0 auto;
    display: block;
    width: 75%;


}

.pokemon-name {
    color: rgba(64, 70, 66, 0.6901960784313725);
}


.id {
    font-family: "Roboto", arial, sans-serif;
    font-weight: bold;
    color: sandybrown;
    font-size: 80%;
    padding-top: 2px;
}


.loadButton{
    border: none;
    padding: 120px 80px;
    background-color: lightcyan;
    border-radius: 25px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin: 5%;
}

